#content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  /* text-align: center; */
  background-color: #FEA693;

}

#greeting-container {
  margin-top: 20px;
}

img {
    height: 20%;
    width: 20%;
    margin-right: 4px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  padding-bottom:7%;
}


.parallax {
  /* Full height */
  height: 45%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleImage {
    text-align: center;
    background-image: url("/images/natureImages/yellowFlowers.JPG");
}

.titleText {
  display: inline-block;
  margin-top: 15%;
  font-size: 7em;
  font-family: 'Nothing You Could Do', cursive;
  margin-left: auto;
  margin-right: auto;
  color: #FEA693;
}

.labels {
  margin-top: 1%;
  margin-bottom:1.5%;
  font-size: 6em;
  font-family: 'Nothing You Could Do', cursive;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

.regText {
    color: white;
    font-family: 'Antic Slab', serif;
    font-size: .2em;
    text-align: center;
}

.favClassesImage {
    text-align: center;
    background-image: url("/images/natureImages/IMG-4901.JPG");
    padding-bottom: 1em;
}

.linksImage {
    text-align: center;
    padding-bottom: 2%;
}

.galleryBackgroundImage {
    text-align: center;
    background-image: url("/images/natureImages/IMG-4880.JPG");
}

.photoLinks {
    height: 20%;
    width: 20%;
    padding-bottom: 5%;
}


.formText {
    font-size: 1.5em;
}

.messageSection {
    padding-bottom: 5%;
}

.map {
  border: thin solid black;
  height: 70%;
  width: 35%;
  padding: 2%;
}

.mapSection {
    padding: 5%;
}

#mapGameText {
    font-size: .3em;
    float:left;
    width:60%;
}

#gameMap {
    float:right
}

#icebergMapText {
    font-size: .3em;
    float:right;
    width:60%;
    padding-top: 3em;
}

#icebergMap {
    float:left;
}

.mapGameSection {
    height: 3em;
}

.icebergSection {
    height: 4em;
}